*.idea
*.pyc
*.DS_Store
*.DS_store

*.png
*.gif
*.db

sandbox.ipynb
temp*.ipynb
*ipynb_checkpoints

sims/
test_anim/

LOCAL.py

search/config/*/*
search/pre/*

!search/config/*/test_*
!search/config/*/template_*

